body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
h2::before {
    content: "■";
    padding-right: 0.2em;
}
img {
  max-width: 100%;
}
blockquote {
  color: #777;
  font-size: 14px;
}
code {
  color: #777;
}
#navbar .searchbox {
  padding-top: 12px;
  padding-right: 15px;
  float: right;
}
.searchbox {
  display: none;
}

/* Table styles based on http://cssmenumaker.com/blog/stylish-css-tables-tutorial/ */
table {  
    color: #333; /* Lighten up font color */
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th { border: 1px solid #CCC; height: 1.5em; padding: 1ex;} /* Make cells a bit taller */

th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  
    background: #FAFAFA; /* Lighter grey background */
}

tr:nth-child(even) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } 
