<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HPC Cloud documentation</title>

    {% include paths %}
    <!-- Code highlighting -->
    <link rel="stylesheet" href="{{relative}}css/highlight.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{{relative}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{relative}}css/starter-template.css" rel="stylesheet">
    
    <!-- FontAwesome font so that we can reproduce OpenNebula's icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ui.hpccloud.surfsara.nl/css/app.min.css?v=4.14.2"> -->

    <!-- Opensearch info so browsers can automatically search this documentation -->
    <link href="{{relative}}opensearch.xml" rel="search" title="HPC Cloud docs" type="application/opensearchdescription+xml">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{relative}}js/html5shiv.min.js"></script>
      <script src="{{relative}}js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">HPC Cloud</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{relative}}./">Documentation</a></li>
            <li><a href="https://www.surf.nl/en/contact.html">Contact</a></li>
          </ul>
          <div class="searchbox"><input type="text" class="searchfield" /> <input type="button" value="Search" class="searchbutton" /></div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <div class="btn-group" role="group" style="float: right">
          <a class="btn btn-default edit" href="#" style="display: none">Edit on GitHub</a>
          <a class="btn btn-default comments" href="mailto:helpdesk@surfsara.nl?subject=HPC%20Cloud%20documentation%20comments">E-mail comments</a>
        </div>
        {{content}}
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{relative}}js/jquery.min.js"></script>
    <script src="{{relative}}js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{relative}}js/ie10-viewport-bug-workaround.js"></script>

    <!-- Code highlighting -->
    <script src="{{relative}}js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{relative}}js/general.js" type="text/javascript"></script>
  </body>
</html>
